{% extends 'base.html' %}

{% block title %} 
    <h1>
        {{ title }}
    </h1>
{% endblock %}

{% block content %}
    <div class="users">
        <div class="container">
            <img width="100" height="100" src="{{ user.profile.img.url }}">
            <p><b>Логин:  </b>@{{ user.username }}</p>
            <p><b>Статус: </b>
                {% if user.is_staff %}
                    Администратор
                {% else %}
                    Пользователь
                {% endif %}
            </p>
            {% if user.email %}
            <p><b>Email:</b> {{ user.email }}</p>
            {% endif %}
            <br>
            <a href="{% url 'exit' %}">
                <button class="btn-danger btnuser">Выйти из кабинета</button>
            </a>
        </div>
        <!-- Форма для обновления данных -->
        <p style="font-size: 24px; font-weight: bold">Изменить данные пользователя</h2>
        <form method="post" enctype="multipart/form-data" class="form-register">
            {% csrf_token %}
            {{ updateUserForm.as_p }}
            {{ profileForm.as_p }}
            <hr><br>
            <button class="btn-success btnuser" type="submit">Обновить</button>
        </form>
    </div>
{% endblock %}