{% extends 'base.html' %} 

{% block title %} 
    <h1>
    {{ title }}
    </h1>
{% endblock %}

{% block content %}
    <div id="education">
        <!-- Документация https://realadmin.ru/saytostroy/foto-zoom.html -->
        {% for i in educ %}
            <div>
                <a class="colorbox" href="{{ i.img.url }}"><img src="{{ i.img.url }}"/></a><br>
                <a href="{{ i.url }}" target="_blank">{{ i.name }} ({{ i.company }})</a>
            </div>
        {% endfor%}  
    </div>
{% endblock %}

