{% extends 'base.html' %} 

{% block title %} 
    <h1>
    {{ title }}
    </h1>
{% endblock %}

{% block content %}
    <!-- <div class="about">
        <h4 style="text-align: center;"> ✋🏻 Учеба ✋🏻 </h4>
            <p>Ниже представленны сертификата о прохождени</p>
    </div> -->
    <div id="education">
        <!-- Документация https://realadmin.ru/saytostroy/foto-zoom.html -->
        <div>
            <a class="colorbox" href="../media/sertificat/ItAutPython.jpg"><img src="../media/sertificat/ItAutPython.jpg"/></a><br>
            <a href="https://coursera.org/share/ca5103f483f690967ca0050624d0c8cd" target="_blank">"Google IT Automation with Python" (Google)</a>
        </div>

        <div>
            <a class="colorbox" href="../media/sertificat/ItSupport.jpg"><img src="../media/sertificat/ItSupport.jpg"/></a><br>
            <a href="https://coursera.org/share/b9695116d4552dbca4376fd43ec1315c" target="_blank">Google IT Support (Google)</a>
        </div>

        <div>
            <a class="colorbox" href="../media/sertificat/PhytonItProger.jpg"><img src="../media/sertificat/PhytonItProger.jpg"/></a><br>
            <a href="https://itproger.com/view-diplom/898a6a2a4d59e0beb1fece7ad99f80ff/python" target="_blank">"Профессия Python разработчик" (itProger)</a>
        </div>

        <div>
            <a class="colorbox" href="../media/sertificat/PhytonSteppik01.jpg"><img src="../media/sertificat/PhytonSteppik01.jpg"/></a><br>
            <a href="https://coursera.org/share/ca5103f483f690967ca0050624d0c8cd" target="_blank">"Поколение Python": курс для начинающих (Steppik)</a>
        </div>         
    </div>
{% endblock %}

