{% extends 'base.html' %} 

{% block title %} 
    <h1>
    {{ title }}
    </h1>
{% endblock %}

{% block content %}
    <div class="about">
        <h4 style="text-align: center;"> ✋🏻 Приветствую вас на моём сайте ✋🏻 </h4>
            <p>На нём вы прочтете немного информации обо мне,
            увидите мои достижения и результаты обучения в сфере IT, ознакомитесь с частью моих работ. 
            Конечно же буду стараться постоянно обновлять сайт. Ведь учеба и саморазвитие должно продолжаться.</p>
            <p>⚒️ Да, кстати сам сайт написан на Django ⚒️</p>
    </div>
        <div id="flex">
            <div><img src="../media/resum.jpg" alt="Резюме"><a href="{% url 'about' %}"><button class="btn-warning btnuser">📓<br>Резюме</button></a></div>
            <div><img src="../media/sert.jpg" alt="Учеба"><a href="{% url 'education' %}"><button class="btn-danger btnuser">📚<br>Учеба</button></a></div>
            <div><img src="../media/code.jpg" alt="Проекты"><a href="{% url 'project' %}"><button class="btn-success btnuser">🧱<br>Проекты</button></a></div>
        </div>  

{% endblock %}

