{% extends 'base.html' %} 

{% block title %} 
    <h1>
    {{ title }}
    </h1>
{% endblock %}

{% block content %}
    <div class="about">
        <h3 style="text-align: start;">🌐 Модуль: Сервис коротких ссылок</h3>
        <p>Данный модуль представляет собой сервис коротких ссылок. Работа его заключается в том, что вы вставляете ссылку в поле для ввода, прописываете идентификатор, жмете [Создать ссылку]
            и получаете необходимую короткую ссылку. Можно было сделать генератор идентификатора, но это уже в перспективе, при необходимости.            
            {% if user.is_authenticated == False %}
                Ну а так как данный сервис привязан к пользователю, то необходимо<a href="{% url 'reg' %}"> зарегистрироваться на сайте.</a></p>
            {% else %}
                <p style="text-align: end;">
                    <a href="{% url 'link' %}"><button class="btn-success btnuser">Вперед <i class="fa-regular fa-hand-point-right"></i></button></a>
                </p>
            {% endif %}
    </div>
    <div class="about">
        <h3 style="text-align: start;">📰 Модуль: Новости</h3>
        <p>Данный модуль необходим для создания, добавления и редактирования новостей. Так же тут предусмотрена возможность комментирования.
           В данный момент находится в стадии разработки... </p>
    </div>
{% endblock %}

